@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:root {
	--primary-font: serif;
	--secondary-font: sans-serif;
	--text-color: #000;
	--highlight: rgb(205, 248, 160);
	--fade-in-effect: fadeIn 1s;
	font-size: 16px;
	font-family: var(--primary-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	background-color: var(--highlight);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

/* Style the tab */
.tab__container {
	overflow: hidden;
	width: inherit;
}

/* Style the buttons that are used to open the tab content */
.tab__container button {
	background-color: rgba(255, 255, 255, 0);
	float: left;
	border: 1px solid var(--text-color);
	outline: none;
	cursor: pointer;
	padding: 1rem;
	border-radius: 100%;
	transition: 0.3s;
	min-width: 25%;
	font-family: var(--primary-font);
	font-size: 1.25rem;
}

/* Change background color of buttons on hover */
.tab__container button:hover {
	background-color: var(--highlight);
}

/* Create an active/current tablink class */
.tab__container button.active {
	background: var(--highlight);
}

/* Style the tab content */
.tabcontent {
	display: none;
	animation: var(--fade-in-effect);
}
