@font-face {
  font-family: 'Fahk';
  src: url('fonts/Fahkwang-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'PP';
  src: url('fonts/PPNeueMontreal-Book.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'PP-bold';
  src: url('fonts/PPNeueMontreal-Medium.otf') format('opentype');
  font-style: normal;
}
