@import 'fonts.css';

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:root {
	--primary-font: 'Happy Times', serif;
	--secondary-font: 'PP', sans-serif;
	--menu-font: 'Arial', sans-serif;
	--filter-font: 'Fahk', sans-serif;
	--text-color: #2e2706;
	--yellow-color: rgb(221, 255, 119);
	--orange-color: #ffd2a9fb;
	--blue-color: #c29aff;
	--fade-in-effect: fadeIn 1s;
	font-size: 16px;
	font-family: var(--primary-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	background-color: var(--highlight);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

main {
	padding: 0 2rem;
}

/* TOP MENU / "BACK TO PROJECTS PAGE" */

.tab__container {
	overflow: hidden;
	width: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0.5rem;
}

.tab__container .button--back {
	padding: 1rem;
	margin: 3px;
	width: 100%;
	font-family: var(--menu-font);
	letter-spacing: -0.85px;
	font-size: 1rem;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0);
	border-bottom: 1px solid rgb(255, 255, 255);
	color: var(--blue-color);
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	text-align: center;
	text-decoration: none;
	z-index: 10;
	border-bottom: 1px solid var(--blue-color);
}

.tab__container .button--back:hover {
	transition: linear 0.125s;
}

/* MAIN PROJECT PAGE SECTION */
.project__container {
	display: grid;
	grid-template-columns: 26% 1fr 26%;
	justify-items: right;
}

.project__details {
	font-family: var(--secondary-font);
	width: 50%;
	position: sticky;
	margin: 4rem;
	border: 1px solid var(--text-color);
	box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 8px;
}

.project__details ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 50% 50%;
}

.project__details li {
	margin: 0;
	font-size: 0.8rem;
	border-bottom: 1px solid var(--text-color);
	padding: 1rem;
	border-right: 1px solid var(--text-color);
}

.project__details a {
	color: var(--text-color);
}

.project--text {
	grid-column: 1/3;
}

.project--content {
	grid-column: 2;
	grid-row: 1 /3;
}

.project--content h1 {
	text-align: center;
}
