@import 'fonts.css';

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:root {
	--primary-font: 'Iowan Old Style', serif;
	--secondary-font: 'PP', sans-serif;
	--menu-font: 'Arial', sans-serif;
	--filter-font: 'Fahk', sans-serif;
	--text-color: #100223;
	--brown-color: #483a05;
	--yellow-color: rgb(221, 255, 119);
	--orange-color: #ffd2a9fb;
	--blue-color: #c29aff;
	--grey-color: #c8c8c8;
	--fade-in-effect: fadeIn 1s;
	font-size: 16px;
	font-family: var(--primary-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	background-color: var(--highlight);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

main {
	padding: 0 2rem;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

/* TOP MENU STYLING */
.tab__container {
	overflow: hidden;
	width: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0.5rem;
}

.tab__container button {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid var(--blue-color);
	color: var(--blue-color);
	outline: none;
	cursor: pointer;
	padding: 1rem;
	transition: 0.3s;
	min-width: 20%;
	font-family: var(--menu-font);
	letter-spacing: -0.85px;
	font-size: 1rem;
	margin: 3px;
	text-transform: uppercase;
	box-shadow: var(--blue-color) 0px 0px 1px 0px inset;
}

.tab__container button:hover {
	border: 1px solid var(--blue-color);
	color: var(--blue-color);
	box-shadow: var(--blue-color) 0px 0px 1px 2px inset;
	transition: linear 0.125s;
}

.tab__container button.active {
	flex-grow: 1;
	color: var(--text-color);
	z-index: 10;
	border-radius: 100%;
	box-shadow: var(--text-color) 0px 0px 1px 8px inset;
	border: 1px solid var(--text-color);
}

.tabcontent {
	display: none;
	animation: var(--fade-in-effect);
	overflow-x: hidden;
}

/* landing page -- INTRO TEXT W FILTER */
.para__project {
	border-bottom: 1px solid var(--yellow-color);
	width: 100%;
		display: inline-block;
}

.para__project, .para__news, .para__press, .para__about {
	display: inline-block;
	padding: 1rem 2rem 1.5rem 2rem;
	font-size: 1.65rem;
	line-height: 1.25;
	font-family: var(--filter-font);
}

.para--filter, .para__about a {
	text-decoration: underline;
}

.para--filter:hover, .para__about a:hover {
	cursor: pointer;
	text-decoration: none;
}

/* landing page -- PROJECT SPOTLIGHT */
.project__spotlight {
	border-bottom: 1px solid var(--yellow-color);
		grid-template-columns: repeat(2, 50%);
}

.project__spotlight, .para__about {
	display: grid;
	grid-column-gap: 12px;
	padding: 1rem 2rem;
}

.project__spotlight img {
	width: 100%;
	min-height: 400px;
	background: rgb(233, 233, 233);
	height: 100%;
}

.project--category {
	font-family: var(--filter-font);
}

.p__detail {
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.75);
	display: inline;
}

.project--thumbnail h4 {
	font-weight: normal;
	font-size: 1.125rem;
	margin: 1rem 0;
}

/* landing page -- PROJECT INDEX */

.project__index {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
}

.project--item {
	width: 25%;
	margin: 1rem 0 0 0;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: column;
	justify-content: flex-end;
}

.project--item a {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -1px;
	min-width: 0;
	text-decoration: none;
	border-right: 1px solid var(--yellow-color);
	color: var(--text-color);
	padding: 1rem 2rem;
}

.project--item:nth-child(4n) a {
	border-right: 1px solid white;
}

.project--item a img {
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item__line {
	margin-top: 24px;
	border-bottom: 1px solid var(--yellow-color);
	width: 100%;
}

/* about section -- AMY CHING-YAN LAM */

.para__about, .para__news, .para__press {
	grid-template-columns: 40% 60%;
}

.para__about p:last-child {
		padding: 1rem 0;
	font-family: var(--menu-font);
	letter-spacing: -0.85px;
	font-size: 1rem;
grid-column: 2;
	text-transform: uppercase;
	font-style: italic;
}

.para__about img {
width: 100%;
padding: 2rem
}

/* news section */

/* .para__news ul li {
 grid-template-columns: 25% 1fr;
} */

.para__news ul {
list-style: none;
padding: 0;
}

.para__news .news--date {
	font-family: var(--menu-font);
		letter-spacing: -0.85px;
	font-size: 1rem;
	margin: 3px;
	text-transform: uppercase;

}