
@font-face {
  font-family: 'PP';
  src: url('PPNeueMontreal-Medium.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'PP-light';
  src: url('PPNeueMontreal-Book.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Calligraffitti';
  src: url('Calligraffitti-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('Barlow-Regular.ttf') format('truetype');
  font-style: normal;
}
