@import 'fonts.css';

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:root {
	--primary-font: 'Iowan Old Style', serif;
	--secondary-font: 'Barlow', sans-serif;
	--menu-font: 'Calligraffitti', sans-serif;
	--filter-font: 'PP-light', sans-serif;
	--text-color: #000;
	--pink-color: #f694ff;
	--blue-color: #0010ff;
	--green-color: rgb(0, 255, 88);
	--fade-in-effect: fadeIn 1s;
	font-size: 16px;
	font-family: var(--primary-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	background-color: var(--highlight);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

/* TOP-MENU */
header {
}

/* GENERAL PAGE LAYOUT */
main {
	padding: 0 2rem;
}

/* TOP MENU BUTTONS */
.tab__container {
	overflow: hidden;
	width: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0.5rem;
}

.tab__container button {
	float: left;
	border: 1px solid var(--pink-color);
	color: var(--pink-color);
	background-color: white;
	outline: none;
	cursor: pointer;
	padding: 1rem;
	border-radius: 100%;
	transition: 0.3s;
	min-width: 20%;
	font-family: var(--menu-font);
	font-size: 1.25rem;
	margin: 3px;
}

.tab__container button:hover {
	border-radius: 100px;
	transition: linear 0.125s;
}

.tab__container button.active {
	flex-grow: 1;
	border: 1px solid var(--green-color);
	color: var(--green-color);
	z-index: 10;
	border-radius: 0px;
}

.tab__container button.active:hover {
	transition: linear 0.125s;
	box-shadow: rgb(255, 255, 255) 0px 0px 12px 3px inset,
		rgb(0, 255, 88) 0px 0px 4px 1px inset;
}

.tabcontent {
	display: none;
	animation: var(--fade-in-effect);
	overflow-x: hidden;
}

.p__detail,
.p__nav {
	font-family: var(--filter-font);
}

.p__detail {
	font-size: 1rem;
	display: inline;
}

h4 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.125rem;
	margin: 1rem 0;
}

p {
	font-family: var(--secondary-font);
}

/* landing page -- INTRO TEXT */
span {
	border-bottom: 1px solid var(--pink-color);
	display: inline-block;
	width: 100%;
	padding: 2rem 2rem 2.5rem 2rem;
}

.p__nav {
	font-size: 1.75rem;
	line-height: 1.25;
	display: inline;
}

.p__filter {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}

.p__filter:hover {
	font-family: 'PP';
	transition: linear 0.125s;
	text-decoration: none;
	cursor: pointer;
	letter-spacing: 1.75px;
}

/* landing page -- PROJECT SPOTLIGHT */

.project--spotlight {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-column-gap: 12px;
	padding: 1rem 2rem;
	border-bottom: 1px solid var(--pink-color);
}

.project--spotlight img {
	width: 100%;
	min-height: 400px;
	background: rgb(233, 233, 233);
	height: 100%;
}

/* landing page -- PROJECT INDEX */

.project--index {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
}

.project--item {
	width: 25%;
	margin: 1rem 0 0 0;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: column;
	justify-content: flex-end;
}

.project--item a {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -1px;
	min-width: 0;
	text-decoration: none;
	border-right: 1px solid var(--pink-color);
	color: var(--text-color);
	padding: 1rem 2rem;
}

.project--item:nth-child(4n) a {
	border-right: 1px solid white;
}

.project--item a img {
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project--item .item__line {
	margin-top: 24px;
	border-bottom: 1px solid var(--pink-color);
	width: 100%;
}
