@import 'fonts.css';

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:root {
	--primary-font: 'Iowan Old Style', serif;
	--secondary-font: 'PP', sans-serif;
	--menu-font: 'Arial', sans-serif;
	--filter-font: 'Fahk', sans-serif;
	--text-color: #100223;
	--yellow-color: rgb(221, 255, 119);
	/* --blue-color: #c29aff; */
	--blue-color: #5d00ff;
	--grey-color: #c8c8c8;
	--fade-in-effect: fadeIn 1s;
	font-size: 16px;
	font-family: var(--primary-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	background-color: var(--yellow-color);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

main {
	padding: 0 2rem;
}

a {
	color: var(--blue-color);
	text-decoration: none;
	cursor: pointer
}

a:hover {
	text-decoration: underline;
}

/* TOP MENU STYLING */
.tab__container {
	overflow: hidden;
	width: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0.5rem;
}

.tab__container button {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid var(--text-color);
	color: var(--text-color);
	outline: none;
	cursor: pointer;
	padding: 1rem;
	transition: 0.3s;
	min-width: 15%;
	font-family: var(--menu-font);
	letter-spacing: -0.85px;
	font-size: 1rem;
	margin: 3px;
	text-transform: uppercase;
	box-shadow: var(--text-color) 0px 0px 1px 0px inset;
}

.tab__container button:hover {
	border: 1px solid var(--text-color);
	color: var(--text-color);
	box-shadow: var(--text-color) 0px 0px 4px 1px inset;
	transition: linear 0.125s;
}

.tab__container button.active {
	flex-grow: 1;
	color: var(--text-color);
	z-index: 10;
	border-radius: 100%;
	box-shadow: var(--text-color) 0px 0px 4px 8px inset;
	border: 1px solid var(--text-color);
}

.tabcontent {
	display: none;
	animation: var(--fade-in-effect);
	overflow-x: hidden;
}

/* landing page -- INTRO TEXT W FILTER */
.para__project {
	border-bottom: 1px solid var(--yellow-color);
	width: 100%;
		display: inline-block;
}

.para__project, .para__news, .para__press, .para__about {
	display: inline-block;
	padding: 1rem 2rem 1.5rem 2rem;
	font-size: 1.75rem;
	line-height: 1.25;
	font-family: var(--filter-font);
}



label {
	/* text-decoration: underline; */
	font-size: 1.75rem;
	line-height: 1.25;
	font-family: var(--filter-font);
	color:var(--blue-color);
}

input:hover {
	/* color:var(--blue-color); */
	cursor: pointer;
}
input {
    /* position: relative; */
  }

  input *,
  input *::after,
  input *::before {
    box-sizing: border-box;
  }

input[type="checkbox"] {
    /* display: inline-block;
    vertical-align: middle; */
    opacity: 0;
		vertical-align: middle; 
		z-index: 100;
		position: relative;
  }

input[type="checkbox"], label::before {
    /* width:20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); */
  }

label {
    display: inline-block;
    position: relative;
    padding: 0 0 0 calc(var(20px) + 7px);
  }

  label::before {
  content: '';
  border: 2px solid vaR(--blue-color);
  opacity: 0.7;
  transition: opacity 0.3s;
  position: inherit;
  width: 15px;
  display: block;
  height: 15px;
	transform: translate(-110%, 150%);
  }

input[type="checkbox"]:checked + label::before {
    opacity: 1;
  }

input svg {
    position: absolute;
    top: calc(50% + 2px);
    left: var(--border-size);
    width: calc(20px - (2px * 2));
    height: calc(20px - (2px * 2));
    margin-top: calc(20px / -2);
    pointer-events: none;
  }

  input svg path {
    stroke-width: 0;
    fill: none;
  }

 input svg path + path {

  }

input[type="checkbox"]:checked ~ svg path {
    stroke-dashoffset: 0;
    stroke-width: calc(20px / 2);
  }

/* landing page -- PROJECT SPOTLIGHT */
.project--spotlight {
grid-column: 1/5;
	grid-column-gap: 12px;
	padding: 1rem 2rem;
	border-bottom: 1px solid var(--yellow-color);
}

.project--spotlight:hover {
	text-decoration: none;
}

.project--spotlight a {
	color: var(--text-color);
}

.project--spotlight img {
	width: 50%;
	float: left;
	min-height: 400px;
	background: rgb(233, 233, 233);
	height: 100%;
}

.project--spotlight div {
	width: 50%;
	float: right;
	padding: 0 2rem;
}

.project--category {
	font-family: var(--filter-font);
	display: inline;
}

.project--thumbnail h4 {
	font-weight: normal;
	font-size: 1.125rem;
	margin: 1rem 0;
}

/* landing page -- PROJECT INDEX */

.project__index {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
}

.project--item {
	width: 25%;
	margin: 1rem 0 0 0;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: column;
	justify-content: flex-end;
}

.project--item a {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -1px;
	min-width: 0;
	border-right: 1px solid var(--yellow-color);
	color: var(--text-color);
	padding: 1rem 2rem;
}

.project--item:nth-child(4n+1) a {
	border-right: 1px solid white;
}

.project--item a:hover {
	text-decoration: none;
}

.project--item a img {
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item--line {
	margin-top: 24px;
	border-bottom: 1px solid var(--yellow-color);
	width: 100%;
}

/* about section -- AMY CHING-YAN LAM */

.para__about {
	grid-template-rows: 52vh 1fr;
	justify-items: center;
		display: grid;
}

.para__about img {
height: 100%;
width: auto;
padding: 2rem 0
}

.para__about p {
	text-align: center;
}

.para__about p:last-child {
		padding: 2rem 0 1rem 0;
	font-family: var(--menu-font);
	letter-spacing: -0.85px;
	font-size: 1rem;
grid-column: 2;
	text-transform: uppercase;
color: var(--grey-color);
}

/* news section */

.para__news ul {
list-style: none;
padding: 0;
border-bottom: 1px solid var(--yellow-color);
padding-bottom: 1.5rem;
}
.para__news p + li {
	margin-bottom: 0.5rem;
}
.para__news li + li, .para__news li + li a  {
	margin: 0;
	font-family: var(--menu-font);
	font-size: 1.25rem;
	
}

.para__news li, .para__news p {
	text-align: center;
}

.para__news p, .para__press span  {
	font-family: var(--menu-font);
		letter-spacing: -0.85px;
	font-size: 1rem;
	margin: 3px;
	text-transform: uppercase;
}

/* press section */


.para__press span {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
}

.para__press ul {
list-style: none;
padding: 0;
padding-bottom: 1.5rem;
border-bottom: 1px solid var(--yellow-color);
}

.para__press ul span p {
	margin: 0 0.5rem;
}

.para__press ul span a {
	margin: 0 0.5rem;
	color:var(--text-color);
	text-decoration: underline;
}


.para__press li {
text-align: center;
margin: 0.5rem 0;

}
/* 
.para__press li::before {
	content: "‣ "; 

} */


