@import 'fonts.css';

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:root {
	--primary-font: 'Iowan Old Style', serif;
	--secondary-font: 'Barlow', sans-serif;
	--menu-font: 'Arial', sans-serif;
	--filter-font: 'Fahk', sans-serif;
	--category-font: 'VG500', monospace;
	/* --text-color: #100223;
	--divider-color: #ffcf77;
	--menu-color: #b88ff7;
	--link-color: #2fa5b7;
	--disabled-color: #c8c8c8; */
	--text-color: #100223;
 --divider-color: #cfffcb;
  --menu-color: #b487e9;
  --link-color: #e6900a;
	/* --link-color: #497f14; */
  --disabled-color: #a4a4a4;
	--fade-in-effect: fadeIn 1s;
	font-size: 16px;
	font-family: var(--primary-font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

::selection {
	background-color: var(--disabled-color);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

main {
	padding: 0 2rem;
}

a {
	color: var(--link-color);
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

/* TOP MENU STYLING */
.tab__container {
	overflow: hidden;
	width: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0.5rem;
}

.tab__container button {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid var(--menu-color);
	color: var(--menu-color);
	outline: none;
	cursor: pointer;
	padding: 1rem;
	transition: 0.3s;
	min-width: 15%;
	font-family: var(--menu-font);
	letter-spacing: -0.85px;
	font-size: 1rem;
	margin: 3px;
	text-transform: uppercase;
	box-shadow: var(--menu-color) 0px 0px 1px 0px inset;
}

.tab__container button:hover {
	border: 1px solid var(--menu-color);
	color: var(--menu-color);
	box-shadow: var(--menu-color) 0px 0px 4px 1px inset;
	transition: linear 0.125s;
}

.tab__container button.active {
	flex-grow: 1;
	color: var(--menu-color);
	z-index: 10;
	border-radius: 100%;
	box-shadow: var(--menu-color) 0px 0px 4px 8px inset;
	border: 1px solid var(--menu-color);
}

.tabcontent {
	display: none;
	animation: var(--fade-in-effect);
	overflow-x: hidden;
}

/* landing page -- INTRO TEXT W FILTER */
.para__project {
	border-bottom: 1px solid var(--divider-color);
	width: 100%;
	display: inline-block;
}

.para__project,
.para__news,
.para__press,
.para__about {
	display: inline-block;
	padding: 1rem 2rem 1.5rem 2rem;
	font-size: 1.75rem;
	line-height: 1.25;
	font-family: var(--filter-font);
}

.para__project span {
	white-space: nowrap;
	cursor: pointer;	
}

.para__project p {
	margin-bottom: 1rem;
}

.para__project p + p {
	margin-top: 0.75rem;
}

label {
	margin-left: 0.125rem;
	font-size: 1.75rem;
	line-height: 1.25;
	font-family: var(--filter-font);
}

input[type='checkbox'] {
	appearance: none; /* For modern browsers */
	-webkit-appearance: none; /* Safari */
	-moz-appearance: none; /* Firefox */
	background-color: white;
	border: 1px solid var(--disabled-color);
	width: 16px;
	height: 16px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.125rem;
	border-radius: 0;
}

/* Checked state */
input[type='checkbox']:checked {
	border-color: var(--text-color);
	position: relative;
	background: url('../cross.svg') no-repeat center;
	background-size: contain;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

input[type='checkbox'] + label {
	color: var(--disabled-color);
	cursor: pointer;
}

input[type='checkbox']:checked + label {
	color: var(--text-color);
	/* text-decoration: underline; */
	color: var(--text-color);
}

input[type='checkbox']:hover {
	box-shadow: var(--disabled-color) 0 0 1px 1px inset;
}

input[type='checkbox']:checked:hover {
	box-shadow: var(--text-color) 0 0 1px 1px inset;
}


/* landing page -- PROJECT SPOTLIGHT */

.project__index {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
}

.project__index a {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -1px;
	min-width: 0;
	color: var(--text-color);
	text-decoration: none;
}

.project__index a:hover {
	text-decoration: none;
}

.project--spotlight {
	padding: 2rem;
	border-bottom: 1px solid var(--divider-color);
}

.project--spotlight a {
	display: grid;
	grid-template-columns: repeat(2, 50%);
}

.project--spotlight .img__container {
	max-height: 500px;
	grid-column: 1/2;
	margin-right: 2rem;
	overflow: clip;
	display: flex;
	justify-content: center;
}

.project--spotlight .img__container img {
	width: 100%;

}

.project--spotlight .spotlight--tag {
width: 150px;

}

.thumbnail .project--category {
	font-family: var(--category-font);
	display: inline;
	color: var(--disabled-color);
	border: 1px solid var(--disabled-color);
	border-radius: 3px;
	padding: 0 4px 2px 4px;
	font-size: 0.8rem;
}

.thumbnail h4 {
	font-weight: normal;
	font-size: 1.25rem;
	margin: 1rem 0;
}

.thumbnail p {
	font-family: var(--secondary-font);
}

.project--item {
	width: 25%;
	margin: 1rem 0 0 0;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: column;
	justify-content: flex-end;
}

.project--item a {
	padding: 1rem 2rem;
	border-right: 1px solid var(--divider-color);
}

.project--item:nth-child(4n + 1) a {
	border-right: 1px solid white;
}

.project--item a img {
	height: auto;

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item--line {
	margin-top: 24px;
	border-bottom: 1px solid var(--divider-color);
	width: 100%;
}

/* about section -- AMY CHING-YAN LAM */

.para__about {
	grid-template-rows: 1fr auto;
	/* justify-items: center; */
		margin-top: 2rem;
	display: grid;
	grid-template-columns: 30vw 1fr;
}

.para__about img {
	/* height: 100%; */

	min-height: 400px;
	width: 90%;
	max-width: 400px;
	padding:0 2rem 0 0;
}
.para__about img + div {
column-count: 2;
}

.para__about div p {
	/* text-align: center; */
	margin-top: 0;
}

.para__about div+p {
	padding: 2rem 0 1rem 0;
	font-family: var(--menu-font);
	letter-spacing: -0.85px;
	font-size: 1rem;
	grid-column: 2;
	text-transform: uppercase;
	color: var(--disabled-color);
}

/* news section */

.para__news ul {
	list-style: none;
	padding: 0;
	border-bottom: 1px solid var(--divider-color);
	padding-bottom: 1.5rem;
}
.para__news p + li {
	margin: 0.5rem;
}
.para__news li + li,
.para__news li + li a {
	margin: 0;
	font-family: var(--menu-font);
	font-size: 1.25rem;
}

.para__news li,
.para__news p {
	text-align: center;
}

.para__news p {
margin: 3px;
}
.para__news p,
.para__press p {
	font-family: var(--menu-font);
	letter-spacing: -0.85px;
	font-size: 1rem;
	text-transform: uppercase;
}

/* press section */

.para__press {
	width: 100%;
	text-align: center;
}

.para__press span {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
}
.para__press p {
	margin: 1.75rem 0 0 0;
}
.para__press div {
	padding-bottom: 1.25rem;
}

.para__press div + div  {
	border-top: 1px solid var(--divider-color);
	padding-top: 0.25rem;
}

.para__press span a {
	margin: 0 0.5rem;
	color: var(--text-color);
	text-decoration: underline;
}

.para__press ul {
/* list-style-type: "‣   "; */
list-style: none;
padding: 0;
margin: 1rem
}


.para__press ul li +li {
	/* margin: 0.25rem 0; */
	font-family: var(--menu-font);
	font-size: 1.25rem;
}
